*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    background: #ffffff;
}
/* Layout */
.container {
  display: grid;
  grid-template-columns: 220px 6fr;
  min-height: 100vh;
}

/* Sidebar */
.sidebar {
  background: #2c3e50;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 2px 0 5px rgba(0,0,0,0.1);
  z-index: 1000;
  overflow-y: hidden;
}

.sidebar h2 {
  color: #1abc9c;
  margin-bottom: 20px;
  font-size: 24px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  width: 100%;
}

.sidebar ul li {
  width: 100%;
  margin-bottom: 25px;
}

.sidebar ul li a {
  display: block;
  padding: 12px 20px;
  color: #ecf0f1;
  text-decoration: none;
  transition: background 0.3s;
}

.sidebar ul li a:hover {
  background: #1abc9c;
  color: #fff;
  border-radius: 6px;
}

/* Main Content */
.main { 
  background: #ffffff;
  min-height: 100vh;
  overflow-y: auto;
}

/* Topbar */
.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  padding: 15px 25px;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}

.topbar h2 {
  margin: 0;
  color: #2c3e50;
}

.topbar-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.topbar-right span {
  cursor: pointer;
  font-size: 18px;
}
/*dashboard display*/
.grid-Class{
  display: flex;
  gap: 20px;
  margin-top: 20px;
}
.weather-container {
      background: #fff;
      padding: 20px;
      margin: 20px;
      border-radius: 20px;
      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
      width: 96%;
      text-align: center;
    }

    .weather-container h2 {
      margin: 10px 0;
      font-size: 1.5rem;
    }

    .temp {
      font-size: 3rem;
      font-weight: bold;
      color: #333;
    }

    .details {
      margin-top: 15px;
      display: flex;
      justify-content: space-around;
    }

    .detail-box {
      text-align: center;
    }

    .detail-box span {
      display: block;
      margin-top: 5px;
      font-size: 0.9rem;
      color: #666;
    }
