* {
  margin: 0;
  padding: 0;
}
/* Style the navigation */
.navigation {
  position: sticky;
  top: 0;
  overflow: hidden;
  background-color: #000000;
}

/* navigation links */
.navigation a {
  float: right;
  display: flex;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

/* Page content */
.content {
  padding: 16px;
}

/* Background*/
.container {
  width: auto;
  height: 400px;
  background-image: url('/frontend/ecommerce/images/background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.category {
  height: 160px;
}
.category h1 {
  font-size: 26px;
  padding: 10px;
}
.category-container {
  display: flex;
  margin: 20px;
  justify-content: space-between;
}
.category-card {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  background: #ffffff;
  width: 80px;
  border-radius: 10px;
}
.category-card:hover {
  transform: translateY(-2px);
}
.category-row {
  text-align: center;
  margin: 10px;
}
.category-row i{
height: 25px;
width: 25px;
text-align: center;
}
.category-row p {
  font-size: 14px;
}
/*grocery disply section*/
.groceries {
  border: solid;
}

.groceries h1 {
  font-size: 28px;
  padding: 20px;
}

.groceries-row {
  display: flex;
  gap: 20px;
}
.groceries-card {
  width:200px;
  border: solid;
}
.groceries-card img {
  height: 70px;
  width: 100px;
}
.groceries-details {
  text-align: center;
  display: flex;
}
.groceries-details p{
  margin-bottom: 20px;
}